{% extends 'main/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'main/css/adstyle.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    {% endblock %}
    {% block title %}{{advert.mark}}&nbsp{{advert.model}}{% endblock %}
</head>

<body>
    {% block content %}

    <div class="container">
        <div class="nav">
            <div class="d-flex flex-wrap py-3 my-4 col-md-12">
                <ul style="list-style-type: none;">
                    <li>
                        <h2>{{advert.mark}}&nbsp{{advert.model}}</h2>
                    </li>



                    <div style="text-align: right; flex: auto; justify-content: flex-end;">
                        <span
                            style="margin-left: 500px; margin-top: -70px; position: absolute; background-color: #198754; font-size: 30px; border-radius: 6px; color: #fff; padding-top: 8px; padding-bottom: 8px;">
                            &nbsp {{advert.price}} рублей &nbsp
                        </span>

                        {% if request.user.is_authenticated %}
                        {% if user.pk == advert.profile.pk %}
                        <a href="{% url 'delete' advert.id %}" style="margin-left: 410px; position: absolute;">
                            <button type="button" class="btn btn-danger">
                                <h2 style="font-size: 20px;">Удалить объявление</h2>
                            </button>
                        </a>
                        <a href="{% url 'update' advert.id %}" style="margin-left: 650px; position: absolute;">
                            <button type="button" class="btn btn-success">
                                <h2 style="font-size: 20px;">Изменить объявление</h2>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                    {% if user.pk != advert.profile.pk %}
                        <a href="chat/{{advert.profile.id}}" style="margin-left: 510px; position: absolute;"><button type="button" class="btn btn-success">
                        <h2 style="font-size: 20px;">Написать продавцу</h2>
                        </button></a>
                    {% endif %}
                    {% endif %}
                    <br>
                    <li>
                        {% if request.user.is_authenticated %}
                        <h2 style="font-size: 20px;">Продавец: {{advert.profile.uname}}</h2>
                        <h2 style="font-size: 20px;">Телефон для связи: {{advert.profile.phone_number}}</h2>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>


        <div>
            <img src="{{ advert.image.url }}" style="border-radius: 8px; width: 700px; height: 438px; flex: auto; justify-content: flex-end; position: absolute; margin-left: 600px;">
        </div>

        <div style="flex: auto; justify-content: flex-start; position: absolute;">
        <div class="row py-lg-2">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 30px;">Информация об автомобиле:</h1>
                    </th>
                </tr>
            </table>
        </div>

        <div class="row py-lg-2">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Год выпуска: {{advert.age}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Кузов: {{advert.body}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">КПП: {{advert.shift}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Пробег: {{advert.mileage}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Двигатель: {{advert.engine}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Объем двигателя: {{advert.volume}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Привод: {{advert.driveunit}}.</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">VIN: {{advert.vin}}</h1>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Город: {{advert.city}}</h1>
                    </th>
                </tr>
                <tr>
                    <th style="width: 300px;">
                        <h1 style="font-size: 20px;">Комментарий к объявлению: {{advert.comment}}</h1>
                    </th>
                </tr>
            </table>
        </div>

    </div>
        </div>
    {% endblock %}
</body>

</html>