<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="settingsstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Изменение данных</title>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="settings.html"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <strong>ФИО</strong>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="adplace.html" class="nav-link active" aria-current="page">Разместить объявление</a></li>
                <li class="nav-item"><a href="home.html" class="nav-link">Объявления</a></li>
                <li class="nav-item"><a href="favorite.html" class="nav-link">Избранное</a></li>
                <li class="nav-item"><a href="profile.html" class="nav-link">Мои объявления</a></li>
            </ul>
        </header>
    </div>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Изменение данных</h1>
            </div>
        </div>

        <hr>

        <div class="row py-lg-2">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">ФИО</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px;">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Иванов Иван Иванович">
                        </div>

                    </td>
                </tr>
            </table>
        </div>

        <div class="row py-lg-2">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Номер телефона</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px;">
                            <input type="tel" class="form-control" id="floatingInput" placeholder="+7 (ххх) ххх хх хх">
                        </div>
                    </td>
                </tr>
                <th>
                    <hr>
                </th>
                <tr>
                    <td><button type="button" class="btn btn-primary">Изменить</button></td>
                </tr>
            </table>
        </div>
    </section>



</body>

</html>