{% extends 'main/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
   {% block css %} <link rel="stylesheet" href="settingsstyle.css"> {% endblock %}
    {% block title %}Изменение данных{% endblock %}
</head>

<body>
    {% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Изменение данных</h1>
            </div>
        </div>

        <hr>

        <form method="post">
        {% csrf_token %}

        {{form.as_p}}

            <button class="w-25 btn btn-outline-success btn-lg" type="submit">Изменить</button>
        </form>
    </section>
    {% endblock %}
</body>

</html>