{% extends 'main/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}Удаление объявления{% endblock %}
</head>

<body>

    {% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Уверены, что хотите удалить объявление из избранных?</h1>
            </div>
        </div>

        <main>
        <div class="col-md-7 col-lg-8 m-auto">
            <form class="needs-validation" novalidate="" method="post">
                {% csrf_token %}
                <button class="w-100 btn btn-danger btn-lg" type="submit">Да, я хочу удалить объявление</button>
            </form>
        </div>
        </div>
        </main>
        </div>
    </section>
    {% endblock %}
</body>

</html>