{% extends 'main/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}Объявления{% endblock %}
</head>

<body>
{% block content %}

 {% csrf_token %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Фильтр по параметрам</h1>
            </div>
        </div>
    </section>

    <table>
        <tr>
            <th>

            </th>
        </tr>
    </table>
    <hr>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Автомобили</h1>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for el in ad %}
                <div class="col">

                    <a href="{% url 'ad' el.id %}"><div style="box-shadow: 0 0 10px rgba(0,0,0,0.5);">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" style="width: 100%; height: auto;"
                            src="{{ el.image.url }}" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                        </img>

                        <div class="card-body">
                            <p class="card-text" style="font-size: 24px;"><a href="{% url 'ad' el.id %}" style="color: black; text-decoration: none;">{{el.mark}} {{el.model}}</a></p>

                            <div class="d-flex justify-content-between align-items-center">
                                <p style="font-size: 18px;">{{el.age}} год, {{el.mileage}} км.</p>
                            </div>
                            <span style="background-color: #198754; font-size: 18px; border-radius: 4px; color: #fff; padding-top: 8px; padding-bottom: 8px;">&nbsp {{el.price}} рублей &nbsp</span>

                            {% if request.user.is_authenticated %}
                            <a href="{% url 'addfavorite' user.pk el.pk %}"><button type="button" class="btn btn-outline-danger">В избранное</button></a>
                            {% endif %}

                        </div>
                    </div>
                    </div></a>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endblock %}
</body>
</html>