{% extends 'main/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block css %} <link rel="stylesheet" href="settingsstyle.css"> {% endblock %}
    {% block title %}Настройки{% endblock %}
</head>

<body>
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Настройки профиля</h1>
      </div>
    </div>

    <hr>

    <div class="row py-lg-2">

      <div class="row py-lg-2">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 30px;">Личные данные</h1>
                    </th>
                </tr>
            </table>
        </div>

      <div class="row py-lg-2 text-center">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">ФИО:</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px; font-size: 18px;">
                            {{ user.uname }}
                        </div>
                    </td>
                </tr>
                </table>
        </div>

      <div class="row py-lg-2 text-center">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Телефон:</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px; font-size: 18px;">
                            {{ user.phone_number }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row py-lg-2 text-center">
            <table>
                <tr>
                    <th>
                        <h1 style="font-size: 20px;">Почта:</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px; font-size: 18px;">
                            {{ user.email }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row py-lg-2 text-center">
            <table>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px;">
                            <a href="{% url 'changedata' user.pk %}"><button type="button" class="w-50 btn btn-outline-primary">Изменить</button></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr>

    <div class="row py-lg-2" style="margin-left: -40px;">
            <table>
                <tr>
                    <td>
                        <div class="form m-auto" style="width: 400px;">
                            <a href="{% url 'logout' %}"><button type="button"  class="w-50 btn btn-danger">Выйти из аккаунта</button></a>
                        </div>
                    </td>
                </tr>
            </table>
    </div>
  </section>
{% endblock %}
</body>

</html>